body {
  background-image: url("../images/portBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

ul {
  list-style: none;
}