@media screen and (max-width: 1000px) {
 body {
    margin: 0;
    height: 100vh;
    background-color: rgba(251, 248, 243, 1);
    background-image: 
      url("../images/right_top.webp"),
      url("../images/left_bottom.webp"),
      url("../images/sides.webp");
    background-size: 
      contain, 
      contain,
      100%;
    background-attachment: 
      fixed, 
      fixed,
      fixed;
    background-position: 
      top, 
      bottom,
      center;
    background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
    font-size: 1rem;
    font-family: "Inter UI", "Helvetica", "Arial", sans-serif;
  }
}

@media screen and (min-width: 1001px) {
 body {
    margin: 0;
    height: 100vh;
    background-color: rgba(251, 248, 243, 1);
    background-image: 
      url("../images/right_top.webp"),
      url("../images/left_bottom.webp");
    background-size: 
      contain, 
      contain;
    background-attachment: 
      fixed, 
      fixed;
    background-position: 
      top, 
      bottom;
    background-repeat: 
      no-repeat,
      no-repeat;
    font-size: 1rem;
    font-family: "Sulphur Point", sans-serif;
  }
}

ul {
  list-style: none;
}

.card-body {
  /* overflow: scroll; */
  background: rgba(251, 248, 243, 1);
  color: rgba(115, 72, 37, 1);
  opacity: 0.8;
}

.service-nav-btn {
  font-size: 1em;
}

#root {
  padding: 6vh 3vw 6vh 4vw;
}

#navigation {
  height: 80vh;
}

#back-nav {
  height: 10%;
  display: flex;
}

#content {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  overflow: scroll;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  color: rgba(115, 72, 37, 1);
}

.btn {
  color: rgba(115, 72, 37, 1);
  border-color: rgba(115, 72, 37, 1);
}

.btn:hover {
  color: rgba(115, 72, 37, 1);
  border-color: rgba(115, 72, 37, 1);
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(115, 72, 37, 1);
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}